*{
    box-sizing: border-box;
}

body{
    background-color: #fff;
    margin: 0;
}

button{
    cursor: pointer;
}

button:active{
    transform: scale(0.95);
}

input:focus,
button:focus{
    outline: none;
}

header{
    background-image: url('https://res.cloudinary.com/jerrick/image/upload/v1498765945/hiz1wk3hmbkdc4y9unon.jpghttps://res.cloudinary.com/jerrick/image/upload/v1498765945/hiz1wk3hmbkdc4y9unon.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 100px 0;
    position: relative;
    opacity: 1;
    box-shadow: inset 0 0 1000px black;
}

head:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

header *{
    z-index: 1;
}

header h1{
    margin: 0 0 30px;
}

form{
    position: relative;
    width: 500px;
    max-width: 100%;
}

form input{
    border: 0;
    border-radius: 50px;
    font-size: 16px;
    padding: 15px 30px;
    width: 100%;
}

form button{
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: rgb(23, 94, 199);
    border: 0;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    padding: 13px 30px;
}

.btn{
    background-color: rgb(32, 85, 201);
    border: 0;
    border-radius: 10px;
    color: #fff;
    padding: 4px 10px;
    /* float: right; */
}

ul.songs{
    list-style-type: none;
}

ul.songs li{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
}

.container{
    margin: 30px auto;
    max-width: 100%;
    width: 500px;
}

.container h2{
    font-weight: 300;
}

.container p{
    text-align: center;
}

.centered{
    display: flex;
    justify-content: center;
}

.centered button{
    transform: scale(1.3);
    margin: 15px;
}
